<div>
  <div>
    <div><img src="#"></div>
    <div>
      <p>Gemma Roberson</p>
      <p>Apology for late reponse email</p>
      <p>Hello Collette Wooten,</p>
    </div>
  </div>
  <div>
    <div><img src="#"></div>
    <div>
      <p>Gemma Roberson</p>
      <p>Apology for late reponse email</p>
      <p>Hello Collette Wooten,</p>
    </div>
  </div>
  <div>
    <div><img src="#"></div>
    <div>
      <p>Gemma Roberson</p>
      <p>Apology for late reponse email</p>
      <p>Hello Collette Wooten,</p>
    </div>
  </div>
</div>
