
<div class="container-content">
  <h1>Employee Info</h1>
  <div class="container-info">
    <div class="img"><img src="./assets/images/tải%20xuống.png"></div>
    <div class="info">
      <p><b>Robert King</b></p>
      <p><label>Team Lead</label></p>
    </div>
  </div>
  <div class="container-info">
    <div class="img"><img src="./assets/images/tải%20xuống.png"></div>
    <div class="info">
      <p><b>Michael Suyama</b></p>
      <p><label>Developer</label></p>
    </div>
  </div>
  <div class="container-info">
    <div class="img"><img src="./assets/images/tải%20xuống.png"></div>
    <div class="info">
      <p><b>Margaret Peacock</b></p>
      <p><label>Developer</label></p>
    </div>
  </div>
</div>
