<div>
  <div class="content">
    <div class="img"><img src="./assets/images/tải%20xuống.png"  width="100px"></div>
    <div class="cont">
      <p>Gemma Roberson</p>
      <p>Apology for late reponse email</p>
      <p>Hello Collette Wooten,</p>
    </div>
  </div>
  <div class="content">
    <div class="img"><img src="./assets/images/tải%20xuống.png"  width="100px"></div>
    <div class="cont">
      <p>Gemma Roberson</p>
      <p>Apology for late reponse email</p>
      <p>Hello Collette Wooten,</p>
    </div>
  </div>
  <div class="content">
    <div class="img"><img src="./assets/images/tải%20xuống.png" width="100px"></div>
    <div class="cont">
      <p>Gemma Roberson</p>
      <p>Apology for late reponse email</p>
      <p>Hello Collette Wooten,</p>
    </div>
  </div>
</div>
