<section class="section">
  <div class="container">
    <div class="content-container">
      <div class="filter-nav accordion">
        <div class="filter-li">
          <a routerLink="/">Rome</a>
          <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="filter-li">
          <a routerLink="/content">Paris</a>
          <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="filter-li">
          <a routerLink="/">London</a>
          <i class="fa-solid fa-xmark"></i>
        </div>
      </div>
      <div class="accordion-content">
        <div class="filter-nav accordion-content-container ">

        </div>
      </div>
      <div class="content-right col-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
