
.accordion{
  display: flex;
  margin-top: 20px;
  border-bottom: 1px solid gray;
}
.filter-li a{
  text-decoration: none;
  color: blue;
}
.filter-li{
  margin: 0 10px;
}
.filter-li:hover{
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: none;
  color: black;
}
.filter-li i{
  font-size: 10px;
}
.container-content h1{
  margin: 40px 600px;
}
.container-content{
  padding: 0 50px;
}
.container-info{
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}
.container-info label{
  color: gray;
}
.container-info .img img{
  width: 70px;
}
